<div class="topic-manage">
    <div class="box1 ">
        <input type="search" placeholder="请输入关键字">
        <button mat-raised-button>
            查询
        </button>

    </div>
    <div class="box">

        <div class="topic-list " *ngFor="let topicItem of topicList">
            <mat-accordion>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                                {{topicItem.topicTitle}}
                        </mat-panel-title>
                        <mat-panel-description>
                            <span [class.]>

                            </span>
                                {{topicItem.studentName || 'fff'}}
                        </mat-panel-description>
                    </mat-expansion-panel-header>

                    <div>{{topicItem.topicContent}}</div>
                    <div class="text-right">
                        <button mat-button type="button">
                            <mat-icon>delete</mat-icon>
                            <span>删除</span>
                        </button>
                        <button mat-button type="button">
                            <mat-icon>settings_backup_restore</mat-icon>
                            <span>重置</span>
                        </button>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
    </div>

</div>
<button class="fab-button" mat-fab type="button" (click)="openAddTopic()">
    <mat-icon>add</mat-icon>
</button>