<div class="topic-manage">
  <div class="box1 ">
      <input type="search" placeholder="请输入关键字" >
      <button mat-raised-button>
          查询
      </button>
     
  </div>
  <div class="box">
   
      <div class="topic-list ">
          <mat-accordion>
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                      毕业设计管理系统
                  </mat-panel-title>
                  <mat-panel-description>
                     路哲媛
                  </mat-panel-description>
                </mat-expansion-panel-header>
          
               <div>教师录入和查看学生毕业设计进度，学生实时更新进度</div>
               <div class="text-right">
                  <button mat-button type="button">
                      <mat-icon>delete</mat-icon>
                      <span>删除</span>
                  </button>
                  <button mat-button type="button">
                      <mat-icon>settings_backup_restore</mat-icon>
                      <span>重置</span>
                  </button>
               </div>
              </mat-expansion-panel>
            </mat-accordion>
      </div>
      <div class="topic-list ">
          <mat-accordion>
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                      二维码考勤管理系统
                  </mat-panel-title>
                  <mat-panel-description>
                     肖波
                  </mat-panel-description>
                </mat-expansion-panel-header>
          
               <div>随着科技的发展，特别是嵌入式系统的飞速发展，智能手机的普及率更是达到了几乎人手一台。为了解决传统考勤带来的诸多问题和不足，本系统提出了使用手机二维码扫描的方式进行考勤的解决方案。该方案利用了现今普遍拥有的智能手机作为硬件基础，在不需要增加任何硬件设备的基础上，实现了低成本、快速、可靠的考勤管理。</div>
               <div class="text-right">
                  <button mat-button type="button">
                      <mat-icon>delete</mat-icon>
                      <span>删除</span>
                  </button>
                  <button mat-button type="button">
                      <mat-icon>settings_backup_restore</mat-icon>
                      <span>重置</span>
                  </button>
               </div>
              </mat-expansion-panel>
            </mat-accordion>
      </div>
  </div>
  
</div>
<button class="fab-button" mat-fab type="button">
  <mat-icon>add</mat-icon>
</button>