<form [formGroup]="fpFormModel" (submit)="onSubmit()">

  <mat-card>
    <mat-card-header>
      <mat-card-title>找回密码:</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field class="full-width">
        <input formControlName="userPhone" matInput type="text" placeholder="手机号">
        <mat-error [hidden]="(!fpFormModel.hasError('required','userPhone') 
                                  &&!fpFormModel.hasError('mobile','userPhone'))">
          {{fpFormModel.getError('required','userPhone')?.errInfo || fpFormModel.getError('mobile','userPhone')?.errInfo}}
        </mat-error>
      </mat-form-field>

      <div formGroupName="passwordsGroup">
        <mat-form-field class="full-width">
          <input formControlName="password1" matInput type="password" placeholder="新密码">
          <mat-error [hidden]="!fpFormModel.hasError('length',['passwordsGroup','password1'])">
            密码长度最小6，最大12
          </mat-error>
        </mat-form-field>
        <mat-form-field class="full-width">
          <input formControlName="password2" matInput type="password" placeholder="确认密码">
        </mat-form-field>
        <mat-error [hidden]="!fpFormModel.hasError('equal','passwordsGroup')">
          {{fpFormModel.getError('equal','passwordsGroup')?.errInfo}}
        </mat-error>
      </div>
      <mat-form-field class="full-width">
          <input formControlName="code" matInput type="text" placeholder="请输入验证码">
          <button type="button"  class="validate-code" mat-button matSuffix mat-raised-button (click)="getValidateCdoe()" [disabled]='isGetCode'>
            {{valideteCodeInfo.info}}
          </button>
          <mat-error [hidden]="!fpFormModel.hasError('required','code')">
            {{fpFormModel.getError('required','code')?.errInfo}}
          </mat-error>
        </mat-form-field>
      <button type="submit" mat-raised-button>提交</button>
    </mat-card-content>
    <mat-card-actions class="text-right">
      <p>
        <a routerLink="/login">返回</a>
      </p>
    </mat-card-actions>
  </mat-card>

</form>