<form >
   
  <mat-card>
     <mat-card-header>
       <mat-card-title>找回密码:</mat-card-title>
     </mat-card-header>
     <mat-card-content>
        <mat-input-container class="full-width">
            <input matInput type="text" placeholder="请输入您的手机号" >
        </mat-input-container>
        <mat-input-container class="full-width">
          <input matInput type="text" placeholder="请输入您的新密码" >
        </mat-input-container>
        <mat-input-container class="full-width">
          <input matInput type="text" placeholder="请再次输入您的密码" >
        </mat-input-container>
        <mat-input-container class="full-width">
          <input matInput type="text" placeholder="点击右侧获取验证码" >
          <button type="button" 
                  class="validate-code" 
                  mat-button  
                  matSuffix 
                  mat-raised-button (click)="getValidateCdoe()">
              {{valideteCodeInfo.info}}
          </button>
        </mat-input-container>
        <button type="button" mat-raised-button>确认</button>
    </mat-card-content>
    <mat-card-actions class="text-right">
        <p><a routerLink="/login">返回</a></p>
    </mat-card-actions>
  </mat-card>

</form>