<div class="progress-manage">
    <div class="box1 " *ngIf="userInfo.topicTitle">
    毕业设计《{{userInfo.topicTitle}}》---进度列表

    </div>
    <div class="box1" *ngIf="!userInfo.topicTitle">暂未选题</div>
    <div class="box scrollbar">
        <div class="not-pro" *ngIf="proList.length == 0">
            暂无毕业设计进度信息~
        </div>
        <div class="pro-list " *ngFor="let proItem of proList" >
            <mat-accordion>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            进度：{{proItem.pro}}%
                        </mat-panel-title>
                        <mat-panel-description>
                            {{proItem.proTime |date:'short'  }}
                        </mat-panel-description>
                    </mat-expansion-panel-header>

                    <div>{{proItem.proContent}}</div>
                    <div class="text-right">
                        <button mat-button type="button" class="color2" (click)="deletePro(proItem.proId)">
                            <mat-icon>delete</mat-icon>
                            <span>删除</span>
                        </button>

                    </div>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
        
    </div>

</div>
<button class="fab-button" mat-fab type="button" (click)="openAddProgress()">
    <mat-icon>add</mat-icon>
</button>