<form >
   
        <mat-card>
           <mat-card-header>
             <mat-card-title>登陆:</mat-card-title>
           </mat-card-header>
           <mat-card-content>
              <mat-input-container class="full-width">
                  <input matInput type="text" placeholder="您的学号/工号/手机号" >
              </mat-input-container>
              <mat-input-container class="full-width">
                      <input matInput type="password" placeholder="您的密码" >
              </mat-input-container>
              <button type="button" mat-raised-button (click)="doLogin()">登录</button>
          </mat-card-content>
          <mat-card-actions class="text-right">
              <p>还没注册？<a  routerLink="/register">注册</a></p>
              <p>忘记密码？<a routerLink="/forget-password">找回</a></p>
          </mat-card-actions>
        </mat-card>
   
</form>