<div class="setting ">
    <div class="box-info">
            <mat-tab-group>
                    <mat-tab label="设置">
                            <div class="box-input">
                                    <label>旧密码</label>
                                    <input type="password" placeholder="请输入您的旧密码">
                            </div>
                            <div class="box-input">
                                <label>新密码</label>
                                <input type="password" placeholder="请输入您的姓名">
                            </div>
                            <div class="box-input">
                                <label>确认密码</label>
                                <input type="password" placeholder="请输入您的新密码">
                            </div>
                    </mat-tab>
                   

            </mat-tab-group>
            <div class="border-bottom text-right">
                    <button mat-button>确认修改</button>
            </div>
    </div>
</div>