<mat-toolbar>
      <mat-toolbar-row>
            <button [disabled]="isDisabled" mat-icon-button (click)="openSidenMenu()">
                  <mat-icon class="color1">menu</mat-icon>
            </button>
            <span class="title">本科毕业设计移动服务平台</span>
            <!-- <span class="color2 current-page">
                  <span>当前页面:</span>
                  <span>{{currentPage}}</span>
            </span> -->
            <span class="fill-remaining-space">
                  
            </span>
            <span *ngIf="screenWidthShow" class="color2 user-info">
                  <span>用户:</span>
                  <span>{{userInfo.userName || userInfo.userAccount || userInfo.userPhone}}</span>
                  
            </span>
            <button *ngIf="screenWidthShow" class="logout" mat-button  (click)="doLogout()">
                  <mat-icon class="color1">settings_power</mat-icon>
                  <span>注销</span>
            </button>
      </mat-toolbar-row>
</mat-toolbar>