<div class="home">
    <header>
            <app-header (sideMenuToggle)="sidenav.toggle()"></app-header>
    </header>
        
  <main class="fill-remaining-space">
        <mat-sidenav-container class="fill-remaining-space flex-column">
            <mat-sidenav #sidenav [mode]="navMode" >
                <app-side-menu (selectMenuItem)="toggle(sidenav);showRightCom($event)"></app-side-menu>
            </mat-sidenav>
            <mat-sidenav-content class="fill-remaining-space0 flex-column">
                    <router-outlet ></router-outlet>
            </mat-sidenav-content>
        </mat-sidenav-container>
   </main>
</div>