/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
/****************material样式修改***************/
.mat-card-header-text{
    margin: 0 !important;
}
.mat-tab-body-wrapper{
    flex: 1;
}
.mat-tab-label{
    flex: 1 ;
}
.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle{
    border-color: #3f51b5;
}
.mat-radio-button.mat-accent .mat-radio-inner-circle{
    background-color: cornflowerblue;
}


/***************全局样式***************/
input:focus{
    outline-width: 0;
}


html , body , app-root{
    height: 100%;
    width: 100%;
    margin: 0;
}
*{
    box-sizing: border-box;
}
.flex-column{
    display: flex !important;
    flex-direction: column !important;
}
.fill-remaining-space{
    flex: 1 1 auto;
}
.fill-remaining-space0{
    flex: 1 1 0;
}
.full-width{
    width: 100%;
}
.full-height{
    height: 100%;
}
//水平居中
.horizontal-center{
    display: flex;
    flex-direction: row !important;
    justify-content: center ;
}
//上下居中
.up-down-center{
    display: flex;
    flex-direction: column !important;
    justify-content: center ;
}
.text-right{
    text-align: right;
}


.margin-left-16{
    margin-left: 16px;
  
}
.padding-left{
    padding-left: 15px
}