/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
/****************material样式修改***************/
.mat-card-header-text{
    margin: 0 !important;
}
.mat-tab-body-wrapper{
    flex: 1;
}
.mat-tab-label{
    flex: 1 ;
}
.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle{
    border-color: #3f51b5;
}
.mat-radio-button.mat-accent .mat-radio-inner-circle{
    background-color: cornflowerblue;
}


/***************全局样式***************/
input:focus{
    outline-width: 0;
}


html , body , app-root{
    height: 100%;
    width: 100%;
    margin: 0;
}
*{
    box-sizing: border-box;
}
.flex-column{
    display: flex !important;
    flex-direction: column !important;
}
.fill-remaining-space{
    flex: 1 1 auto;
}
.fill-remaining-space0{
    flex: 1 1 0;
}
.full-width{
    width: 100%;
}
.full-height{
    height: 100%;
}
//水平居中
.horizontal-center{
    display: flex;
    flex-direction: row !important;
    justify-content: center ;
}
//上下居中
.up-down-center{
    display: flex;
    flex-direction: column !important;
    justify-content: center ;
}
.text-right{
    text-align: right;
}


.margin-left-16{
    margin-left: 16px;
  
}
.padding-left{
    padding-left: 15px
}
.color1{
    color:#6f717b;
}
.color2{
    color: #9c9faf;
}
.error{
    color: #EE0000;
}

// 提示框
.toast-success-container{
    background-color: #32CD32;
    text-align: center;
}
.toast-error-container{
    background-color: #EE0000;
    text-align: center;
}

.toast-warn-container{
    background-color: #EEC900;
    text-align: center;
}




//加载动画
$color-loader: #b0b3c7;
.load-container{
    display: none;
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 999;
    background-color:rgba(0,0,0,0.05)
}
.loader {
  width: 250px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-family: helvetica, arial, sans-serif;
  text-transform: uppercase;
  font-weight: 900;
  color: $color-loader;
  letter-spacing: 0.2em;
  
  &::before, &::after {
    content: "";
    display: block;
    width: 15px;
    height: 15px;
    background: $color-loader;
    position: absolute;
    animation: load .8s infinite alternate ease-in-out;
  }
  
  &::before {
    top: 0;
  }
  
  &::after {
    bottom: 0;
  }
}

@keyframes load {
  0% { left: 0; height: 30px; width: 15px }
  50% { height: 8px; width: 40px }
  100% { left: 235px; height: 30px; width: 15px}
}