<div class="topic-select">
    <div class="box1 ">
        <input type="search" placeholder="请输入关键字" [(ngModel)]="keyStr">
        <button mat-raised-button (click)="searchByKey()">
            查询
        </button>
        <button mat-raised-button  class="margin-l-10" (click)="getCheckedTopic()">
            查看已选
        </button>

    </div>
    <div class="box scrollbar">
        <div class="not-topic" *ngIf="topicList.length == 0">
            暂无毕业设计题目信息~
        </div>
        <div class="topic-list " *ngFor="let topicItem of topicList">
            <mat-accordion>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            {{topicItem.topicTitle}}
                        </mat-panel-title>
                        <mat-panel-description>
                            <span [ngClass]="{'color3':topicItem.studentName,'color4':!topicItem.studentName}">
                                {{topicItem.studentName || '----'}}
                            </span>
                        </mat-panel-description>
                    </mat-expansion-panel-header>

                    <div>{{topicItem.topicContent}}</div>
                    <div class="text-right">

                        <button mat-button type="button" *ngIf="!topicItem.studentName && !isChecked " (click)="selectTopic(topicItem.topicId)">
                            <mat-icon>done</mat-icon>
                            <span>选取</span>
                        </button>
                        <span class="color3" *ngIf="topicItem.studentName == userInfo.userName">已选</span>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>
        </div>

    </div>

</div>