<mat-nav-list >
    <mat-list-item *ngIf="userRole == 2"  (click)="doSelectMenu('/home/topic-select')"> 
        <mat-icon mat-list-icon>receipt</mat-icon>
        <h4 mat-line>题目选取</h4>
    </mat-list-item>
    <mat-list-item *ngIf="userRole == 2"  (click)="doSelectMenu('/home/progress-manage')">
        <mat-icon mat-list-icon>timeline</mat-icon>
        <h4 mat-line>进度管理</h4>
    </mat-list-item>
    <mat-list-item *ngIf="userRole == 1"  (click)="doSelectMenu('/home/student-progress')">
        <mat-icon mat-list-icon>timeline</mat-icon>
        <h4 mat-line>学生进度</h4>
    </mat-list-item>
    <mat-list-item *ngIf="userRole == 1" (click)="doSelectMenu('/home/topic-manage')">
        <mat-icon mat-list-icon>receipt</mat-icon>
        <h4 mat-line>题目管理</h4>
    </mat-list-item>
    <mat-list-item (click)="doSelectMenu('/home/account-info')">
            <!-- style="background-color:#f5f5f5" -->
        <mat-icon mat-list-icon>account_circle</mat-icon>
        <h4 mat-line>个人信息</h4>
    </mat-list-item>
    <mat-list-item (click)="doSelectMenu('/home/setting')">
        <!-- style="background-color:#f5f5f5" -->
    <mat-icon mat-list-icon>settings</mat-icon>
    <h4 mat-line>设置</h4>
</mat-list-item>
</mat-nav-list>